@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default;
};
html{
  background-color: #efefef;
}
.inset-shadow{
  box-shadow: inset 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
}
.plus-jakarta-sans{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.nav-link {
  width: 100px;  /* same for all links */
  display: inline-block;
  text-align: center;
}